* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: #141414;
}

#link-profile-container {
  margin: 5rem auto;
  width: 384px;
  height: 620px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.img-profile img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-top: 2rem;
}

.text-profile {
  text-align: center;
}

.text-profile h1 {
  color: #ffff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1.5rem;
}

.text-profile h4 {
  color: #c5f82a;
  font-size: 14px;
  margin-top: 0.2rem;
}

.text-profile p {
  color: #ffff;
  font-size: 14px;
  margin-top: 1.5rem;
}

/* Profile container */
.links-container {
  margin-top: 1.5rem;
}

.list-menu li {
  list-style-type: none;
  text-align: center;
  width: 304px;
  height: 45px;
  margin: 1rem 0rem;
}

.list-menu li a {
  background-color: #333333;
  text-decoration: none;
  color: white;
  width: 304px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.list-menu li a:hover {
  background-color: #c5f82a;
  color: #141414;
}

.attribution {
  text-align: center;
  color: white;
}

.attribution a {
  color: darkcyan;
}

/*  

media Queries 


*/

@media screen and (max-width: 500px) {
  #link-profile-container {
    width: 90%;
    height: 620px;
  }

  .list-menu li {
    width: 260px;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .list-menu li a {
    width: 90%;
    font-size: 12px;
  }

  .attribution {
    width: 90%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}
